<ion-header>
  <ion-toolbar>
      <ion-button slot="start">
        <ion-back-button class="back-btn" text="Retour" icon="chevron-back-outline">
        </ion-back-button>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content padding class="body">

  <ion-card *ngIf="information" class="card">
  <ion-card-content>

    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <div class="movie-cover" style="background-image: url('https://image.tmdb.org/t/p/w200/{{information.poster_path}}');"></div>
        </ion-col>
        <ion-col size="6" style="line-height: 20px;">
          <p class="bold">{{information.vote_count}} avis</p>
          <p>Sorti le {{ information.release_date }}</p>
          <p class="bold">{{ information.runtime }} minutes</p>

        </ion-col>
      </ion-row>
    </ion-grid>

    <ion-card-title class="movie-title">
      {{ information.title }}
    </ion-card-title>


    <ion-grid>
      <ion-row>
        <ion-col size="4">
          synopsis :
        </ion-col>
        <ion-col size="8">
          <ion-item lines="none">
            <ion-label text-wrap> {{ information.overview }} </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card-content>

  </ion-card>
</ion-content>
