<ion-header>
  <ion-toolbar>
    <ion-icon slot="start" name="home-outline"></ion-icon>
    <ion-title>Accueil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-col size="8">
        <ion-searchbar [(ngModel)]="research" (ionChange)="searchChange($event)"></ion-searchbar>
        <ion-list>
          <ion-item button *ngFor="let item of resultSearch "  [routerLink]="result.id">
      
          <ion-label text-wrap>
            <h3>{{ item.title }}</h3>
            {{ item.year }}
          </ion-label>
      
          </ion-item>
        </ion-list>
      </ion-col>
      <ion-col size="4">
        <ion-select placeholder="Filtrer">
          <ion-select-option value="p">Les plus populaires</ion-select-option>
          <ion-select-option value="n">Les mieux notés</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-content class="card-back-movies">
    <ion-list>
        <ion-card *ngFor="let result of results" [routerLink]="result.id">
          <img src="https://image.tmdb.org/t/p/w400/{{result.poster_path}}"/>
          <div class="black-filter"></div>
          <div class="info-card-movie">
            <strong class="title-movie">{{result.title}}</strong>
            <p class="reviews-movie">{{result.vote_count}} avis</p>
          </div>
        </ion-card>

    </ion-list>

    </ion-content>
</ion-content>
