<ion-header>
  <ion-toolbar color="primary">
    <ion-title>AmazingMovie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="research" (ionChange)="searchChange($event)"></ion-searchbar>
  <ion-list>
    <ion-item button *ngFor="let item of resultSearch "  [routerLink]="result.id">

    <ion-label text-wrap>
      <h3>{{ item.title }}</h3>
      {{ item.year }}
    </ion-label>

    </ion-item>
  </ion-list>


  <ion-content>
    <ion-list>
      <ion-item ion-item *ngFor="let result of results ">
        {{ result.title}}

        <ion-button [routerLink]="result.id" >détail</ion-button>
      </ion-item >
    </ion-list>

    </ion-content>
</ion-content>
