<ion-header>
  <ion-toolbar color="primary">
    <ion-title>AmazingMovie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-searchbar [(ngModel)]="research" (ionChange)="searchChange($event)"></ion-searchbar>
  <ion-item>
    <ion-label>Filter</ion-label>
    <ion-select [(ngModel)]="filter" (ionChange)="filterMovie($event)">
      <ion-select-option value="popular">All</ion-select-option>
      <ion-select-option value="top_rated">Les mieux notés</ion-select-option>
      <ion-select-option value="upcoming">Films à venir</ion-select-option>
    </ion-select>
  </ion-item>


  <ion-content>
    <ion-list>
      <ion-item ion-item *ngFor="let result of results ">
        {{ result.title}}

        <ion-button [routerLink]="result.id" >détail</ion-button>
      </ion-item >
    </ion-list>

    </ion-content>
</ion-content>
